@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --primary: #5369f8;
    --primary-foreground: #fafafa;
    --secondary: #f2f2f2;
    --secondary-foreground: #1a1a1a;
    --muted: #f2f2f2;
    --muted-foreground: #757575;
    --accent: #f2f2f2;
    --accent-foreground: #1a1a1a;
    --destructive: #e63946;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #1a1a1a;
    --radius: 0.5rem;
  }

  body.scroll-lock {
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative !important;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0px !important;
  }
}
